<div>
    <div class="flex justify-between items-center mr-2">
        <div class="">
            <h2 class="text-white !m-0 pl-3 pt-3 pb-2">Genre</h2>
        </div>
        <div class="border-2 text-white w-7 h-7 rounded-full">
            <mat-icon class="text-white cursor-pointer" (click)="dropDown()">{{genderDropDown.chevronName}}</mat-icon>
        </div>
    </div>
    <div class="flex flex-col" *ngIf="genderDropDown.state">
        <div *ngFor="let ga of gendersArray" class="checkbox-custom-gender check {{ga.genderPicture}}">
            <mat-checkbox class="ml-1 mt-4" [(ngModel)]="ga.state" (change)="selectedGender($event)"> 
                <span class="text-white !mb-0 ml-2 text-lg"> {{ga.name}}</span>  
            </mat-checkbox>
       </div>
    </div>
</div>