<div class="mt-4">
    <div class="flex justify-between items-center mr-2">
        <div class="">
            <h2 class="text-white !m-0 pl-3 pt-3 pb-2">Attaque spéciale</h2>
        </div>
        <div class="border-2 text-white w-7 h-7 rounded-full">
            <mat-icon class="text-white cursor-pointer" (click)="dropDown()">{{specialAttackDropDown.chevronName}}</mat-icon>
        </div>
    </div>
    <div *ngIf="specialAttackDropDown.state">
    <form class="flex flex-col mt-3 justify-center checkbox-custom-sa" [formGroup]="specialAttackForm">
        <div class="checkbox-custom-LS">
            <mat-checkbox class="ml-1 mb-3 flex" formControlName="LS">
                <p class="text-white !ml-2 !mb-0 !mt-2 text-lg"> Leader Skill</p>  
            </mat-checkbox>
       </div>
         <div class="checkbox-custom-BB">
            <mat-checkbox class="ml-1 mb-4 checkbox-custom-BB" formControlName="BB">
                <p class="text-white !ml-2 text-lg !mb-0 !mt-2">Brave Burst</p>  
            </mat-checkbox>
         </div>
    </form>
   </div>
</div>