<div>
    <div class="">
        <h2 class="text-white !m-0 pl-3 pt-3 pb-2">Attaque spéciale</h2>
        <mat-divider class="bg-white"></mat-divider>
    </div>
   
    <form class="flex flex-col mt-3 justify-center checkbox-custom-sa" [formGroup]="specialAttackForm">
        <div class="checkbox-custom-LS">
            <mat-checkbox class="ml-6 mb-3 flex" formControlName="LS">
                <p class="text-white !ml-2 !mb-0 !mt-2 text-lg"> Leader Skill</p>  
            </mat-checkbox>
       </div>
         <div class="checkbox-custom-BB">
            <mat-checkbox class="ml-6 mb-4 checkbox-custom-BB" formControlName="BB">
                <p class="text-white !ml-2 text-lg !mb-0 !mt-2 text-lg">Brave Burst</p>  
            </mat-checkbox>
         </div>
    </form>
</div>