/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
  border-radius: 20px !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.overflow-custom {
  @apply overflow-x-auto;
}

.tooltipUnitName {
  @apply invisible;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  border: 3px solid #5B76AA;
}

::-webkit-scrollbar-thumb {

  border-radius: 100vh;
  background-color: #5B76AA;
}

/* width */
#scrolling-content::-webkit-scrollbar {
  @apply h-2.5;
  width: 5px;
}

/* Track */
#scrolling-content::-webkit-scrollbar-track {
 @apply bg-white;
  border-radius: 20px;
  border: 3px solid transparent;
}

/* Handle */
#scrolling-content::-webkit-scrollbar-thumb {
  @apply bg-fireColor;
  border-radius: 20px;
}

/* Handle on hover */
#scrolling-content::-webkit-scrollbar-thumb:hover {
  @apply bg-fireColor;
}

.border-rounded {
  border-radius: 50% !important;
}


.checkbox-custom .mat-checkbox-inner-container {
   @apply ml-2 mb-2.5 ;
}


.checkbox-custom {
  & .mat-checkbox-background, .mat-checkbox-frame {
      @apply h-6 w-6 rounded-full; 
  }
}

.checkbox-custom .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-transparent;
}

.checkbox-custom .mat-checkbox-ripple {
  position: absolute;
  left: calc(50% - 17px) !important;
  top: calc(50% - 17px) !important;
}

.checkbox-custom-fire .mat-checkbox-frame { 
  @apply border-fireColor;
}

.checkbox-custom-fire .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-fire-picture;
}

.checkbox-custom-fire .mat-ripple-element {
  @apply bg-fireColor #{!important};  
}

.checkbox-custom-fire .mat-checkbox-checkmark {
  display: none;
}


.checkbox-custom-water .mat-checkbox-frame { 
  @apply border-waterColor;
}

.checkbox-custom-water .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-water-picture;
}

.checkbox-custom-water .mat-ripple-element {
  @apply bg-waterColor #{!important}; 
}

.checkbox-custom-water .mat-checkbox-checkmark {
  display: none;
}


.checkbox-custom-earth .mat-checkbox-frame { 
  @apply border-earthColor;
}

.checkbox-custom-earth .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-earth-picture;
}

.checkbox-custom-earth .mat-ripple-element {
  @apply bg-earthColor #{!important}; 
}

.checkbox-custom-earth .mat-checkbox-checkmark {
  display: none;
}



.checkbox-custom-thunder .mat-checkbox-frame { 
  @apply border-thunderColor;
}

.checkbox-custom-thunder .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-thunder-picture;
}

.checkbox-custom-thunder .mat-ripple-element {
  @apply bg-thunderColor #{!important}; 
}

.checkbox-custom-thunder .mat-checkbox-checkmark {
  display: none;
}



.checkbox-custom-light .mat-checkbox-frame { 
  @apply border-lightColor
}

.checkbox-custom-light .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-light-picture;
}

.checkbox-custom-light .mat-ripple-element {
  @apply bg-lightColor #{!important}; 
}

.checkbox-custom-light .mat-checkbox-checkmark {
  display: none;
}



.checkbox-custom-dark .mat-checkbox-frame { 
  @apply border-darkColor
}

.checkbox-custom-dark .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-dark-picture;
}

.checkbox-custom-dark .mat-ripple-element {
  @apply bg-darkColor #{!important}; 
}

.checkbox-custom-dark .mat-checkbox-checkmark {
  display: none;
}

.color-picture {
  color: white !important;
}

//special attack search

.checkbox-custom-sa .mat-checkbox-inner-container {
  @apply ml-3 mb-2.5 ;
}

.checkbox-custom-sa {
  & .mat-checkbox-background, .mat-checkbox-frame {
      @apply h-6 w-6; 
  }
}

.checkbox-custom-sa .mat-checkbox-ripple {
  position: absolute;
  left: calc(50% - 17px) !important;
  top: calc(50% - 17px) !important;
}

.checkbox-custom-sa .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-transparent;
}

.checkbox-custom-LS .mat-checkbox-frame { 
  @apply border-bgDarkGray;
}

.checkbox-custom-LS .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-bgDarkGray;
}

.checkbox-custom-LS .mat-ripple-element {
  @apply bg-bgDarkGray #{!important};  
}

.checkbox-custom-BB .mat-checkbox-frame { 
  @apply border-bgDarkBlue;
}

.checkbox-custom-BB .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-bgDarkBlue;
}

.checkbox-custom-BB .mat-ripple-element {
  @apply bg-bgDarkBlue #{!important};  
}

//order search
/*.order-custom-number .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-blue-500;
}*/

.order-custom .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  @apply border-blue-500;
}

.order-custom .mat-radio-button.mat-accent .mat-radio-inner-circle{
  @apply text-blue-500;
  @apply bg-blue-500;
}

.order-custom .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  @apply bg-blue-500;
}

.custom-units-text .mat-form-field {
  @apply pt-5 pb-0 #{!important};
}

.tabs-filters-custom .mat-tab-label {
  @apply text-white /*min-w-26*/ h-6 p-0 #{!important};
}

.tabs-filters-custom .mat-ink-bar {
  @apply bg-blue-500 #{!important}; 
}

.tabs-filters-custom .mat-tab-label-active {
  @apply text-blue-500 #{!important}; 
}

.direction-custom .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  @apply border-gray-500;
}

.direction-custom .mat-radio-button.mat-accent .mat-radio-inner-circle{
  @apply text-gray-500;
  @apply bg-gray-500;
}

.direction-custom .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  @apply bg-gray-500;
}

.checkbox-custom-gender {
  .mat-checkbox-background,
  .mat-checkbox-frame {
    @apply w-5 h-3 border-gold absolute -top-1 left-1
    transform rotate-30 border-b-0 border-t-0
  }
}

.checkbox-custom-gender {
  .mat-checkbox-background,
  .mat-checkbox-frame:before {
    content: '';
    width: 120%;
    @apply h-9/10 border-2 border-gold absolute top-0 -left-0.5
    transform -rotate-60 border-t-0 border-b-0
  }
}
.checkbox-custom-gender {
  .mat-checkbox-background,
  .mat-checkbox-frame:after {
    content: '';
    width: 120%;
    @apply h-6/7 border-2 border-gold absolute top-0 -left-0.5
    transform rotate-60 border-t-0 border-b-0
  }
}

.check .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate {  
  @apply bg-transparent border-2 border-transparent
}

.check .mat-checkbox-checkmark {
  display: none;
}

.check .mat-checkbox-inner-container {
  height: 0;
}

.check .mat-ripple-element {
  @apply absolute left-1 bg-gold #{!important}; 
}


.checkbox-custom-male .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate {  
  @apply w-6 h-6 bg-5 bg-male-picture bg-no-repeat border-2 border-transparent absolute -top-2.5 left-0.5
  transform rotate-0
}

.checkbox-custom-female .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate {  
  @apply w-6 h-6 bg-5 bg-female-picture bg-no-repeat border-2 border-transparent absolute -top-2.5 left-0.5
  transform rotate-0
}

.checkbox-custom-genderLess .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate {  
  @apply w-6 h-6 bg-5 bg-genderLess-picture bg-no-repeat border-2 border-transparent absolute -top-2.5 left-0.5
  transform rotate-0
}

.checkbox-custom-exclusivity {
  & .mat-checkbox-background, .mat-checkbox-frame {
      @apply h-6 w-6; 
  }
}

.checkbox-custom-exclusivity .mat-checkbox-inner-container {
  @apply ml-3 mb-2.5 ;
}

.checkbox-custom-exclusivity .mat-checkbox-frame { 
  @apply border-green-600;
}

.checkbox-custom-exclusivity .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-green-600;
}

.checkbox-custom-exclusivity .mat-ripple-element {
  @apply bg-green-600 #{!important};  
}

.checkbox-custom-collaboration {
  & .mat-checkbox-background, .mat-checkbox-frame {
      @apply h-6 w-6; 
  }
}

.checkbox-custom-collaboration .mat-checkbox-inner-container {
  @apply ml-3 mb-2.5 ;
}


.checkbox-custom-collaboration .mat-checkbox-frame { 
  @apply border-purple-600;
}

.checkbox-custom-collaboration .mat-checkbox-checked
  .mat-checkbox-background, .mat-checkbox-indeterminate {
    @apply bg-purple-600;
}

.checkbox-custom-collaboration .mat-ripple-element {
  @apply bg-purple-600 #{!important};  
}

.mat-tooltip {
  font-size: 15px;
}

/* width */
/*#scrolling-content::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}*/

/* Track */
/*#scrolling-content::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}*/

/* Handle */
/*#scrolling-content::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}*/

/* Handle on hover */
/*#scrolling-content::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}*/

