<div class="">
    <div class="flex justify-between items-center mr-2">
        <div class="">
            <h2 class="text-white !m-0 pl-3 pt-3 pb-2">Rareté</h2>
        </div>
        <div class="border-2 text-white w-7 h-7 rounded-full">
            <mat-icon class="text-white cursor-pointer" (click)="dropDown()">{{raretyDropDown.chevronName}}</mat-icon>
        </div>
   </div>
    <div class="mt-2" *ngIf="raretyDropDown.state">
        <ng-template ngFor let-level [ngForOf]="this.levelArray">
            <div class="flex items-center">
                <div class="ml-1">
                    <button class="focus:outline-none" mat-icon-button (click)="selectedLevel(level)" id="test">
                        <mat-icon
                                *ngIf="level.state === true"
                                aria-label="Example icon-button with a heart icon"
                                class="text-stars" id="star">
                                star
                        </mat-icon>
                            
                        <mat-icon
                                *ngIf="level.state === false"
                                aria-label="Example icon-button with a heart icon"
                                class="text-stars !h-8 !w-8 pt-1" id="star_border">
                                star_border
                        </mat-icon>
                    </button>
               </div>
                 <div class="">
                   <p class="text-white !mb-0 text-lg">{{level.name}}</p>
                 </div>
            </div>
        </ng-template>
        
    </div>
</div>
